<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.danielisho.app_preferences_flutter">
  <application android:theme="@style/AppTheme">
    <activity android:name="com.danielisho.app_preferences_flutter.PreferencesActivity" android:label="@string/app_name" />
  </application>
</manifest>
